[Desktop Entry]
Author=Michael Rydén
AuthorEmail=zynex@zoik.se
Description=KMail header theme with white card for dark desktop
FileName=header.html
Name=BlackCard
ThemeVersion=0.1
